---
layout: base
redirect_from: "/articles"
---

<section>
    <header>
        <nav style="background-image: url(/images/{{ site.inc.cover_image }})">
            <a class="secondary" href="/">Writing</a>
            <a href="/">LIMI</a>
            <a class="secondary" href="/contact">Contact</a>
        </nav>
    </header>
</section>

<article>
    <div class="container">
        <section>
            <p><span></span><a href="https://twitter.com/limi">Alex Limi</a> is currently
                Vice President, Design at
                <a target="_blank" href="https://highfive.com/">Highfive</a>&#8202;&mdash;&#8202;simplifying
                business collaboration.
                Previously, he led the <a target="_blank" href="https://www.firefox.com/">Firefox</a>
                User Experience team
                &amp; Product Design at <a target="_blank" href="https://www.mozilla.com/">Mozilla</a>,
                designed at <a target="_blank" href="https://www.google.com/">Google</a>,
                and is one of the founders of the open source project&nbsp;<a
                 target="_blank" href="https://plone.com/">Plone</a>.
                <!-- <i><a href="/about">Biography</a></i> -->
            </p>
        </section>
    </div>
</article>

<!--
<section>
    <article>
        <h1><i>Career <abbr title="and">&amp;</abbr> Influence & Impact</i></h1>
    </article>
</section>
-->

<!--
<article>
    <div class="container">
        <section>
            <h1><i>Selected Writings</i></h1>
        </section>
    </div>
</article>
-->

<!--<li style="background-image: url(/images/{{ post.cover_image }})"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></li>-->
<ul class="listing">
{% for post in paginator.posts %}
  {% unless post.draft %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endunless %}
{% endfor %}
</ul>

<!--
<section class="pagination" style="text-align:center">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" class="btn btn-outline">‹ Newer</a>
    {% else %}
    <a href="/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Newer</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
  {% endif %}
</section>
-->
