/* @override http://limi.net/limi.css */

/* @group CSS Reset */

* {
	margin: 0;
	padding: 0;
}

* :link,:visited {
	text-decoration: none
}

/** ul,ol {
	list-style: none;
}

* li {
	display: inline;
}*/

* h1,h2,h3,h4,h5,h6,pre,code {
	font-size: 1em;
}

* a img,:link img,:visited img {
	border: none;
}

a {
	outline: none;
}

table {
	border-spacing: 0;
}

img {
	vertical-align: middle;
}

/* @end */

/* @group Typeface definitions */

/* Example of how to define the fonts in families to avoid e.g. double italics

@font-face {
font-family: 'Ubuntu';
src: url('Ubuntu-R-webfont.eot');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Ubuntu';
src: url('Ubuntu-I-webfont.eot');
font-weight: normal;
font-style: italic;
}
@font-face {
font-family: 'Ubuntu';
src: url('Ubuntu-B-webfont.eot');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Ubuntu';
src: url('Ubuntu-BI-webfont.eot');
font-weight: bold;
font-style: italic;
}
.test {
font-family: Ubuntu, arial, sans-serif;
}*/

/* @end */

/* @group Basics */

body {
	background-color: #fff;
	color: #333;
	font-family: "Iowan Old Style", Baskerville, "Libre Baskerville", Georgia, serif;
	font-size: 1.2em;	
/*    text-rendering: optimizeLegibility;*/
}

header {
	background-image: url("paul-morris-167780-unsplash-cropped-wide.jpg");
	height: 12em;
	padding-top: 4em;
	background-size: 100%;
	background-repeat: no-repeat;
}

article {
	width: 38em;
	margin: 2em auto;
}

a:link {
	color: #b63;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
}

a:visited {
	color: #888;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
}

a:active {
	color: #888;
	text-decoration: none;
}

a:hover {
	color: #888;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	text-align: center;
/*	font-style: italic; */
	font-weight: normal;
	line-height: 1.1em;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	border-bottom: none !important;
}

h1, h2 {
	letter-spacing: -1px;
}
h1 {
	font-size: 4em;
	padding-top: 0.5em;
	color: rgba(255,255,255,0.9);
}
h2 {
	font-size: 3em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em; 
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.75em;
}

h2, h3 {
    margin-top: 1em;
}

.documentFirstHeading {
    width:11em; 
    margin: auto;
}

/* h2 + p:first-line,
h3 + p:first-line, 
p.documentDescription + p:first-line,
hr + p:first-line {
    text-transform: lowercase;
    font-variant: small-caps;
}
*/

/* First words are transformed to small-caps if they are marked with a span immediately inside a p */
p span:first-child {
    text-transform: lowercase;
    font-variant: small-caps;
}

p.documentDescription + p:first-letter,
hr + p:first-letter {
    font-size: 3.4em; 

    line-height: 1;
    margin-top: 0.04em; 
/* One of the rare Firefox CSS bugs! Firefox is still applying the parent 
   paragraph’s line-height to the first letter, ignoring its much-larger 
   font size, while the other browsers are correctly applying a line-height
   that corresponds with the letter’s font-size. */

    float: left; 
    display: block; 
    margin-right: 0.05em; 
    margin-left: -0.1em; 
    color: #b63;
    text-transform: uppercase;
}


h2 + p,
h3 + p,
p.documentDescription + p,
hr + p {
	text-indent: 0;
}

p {
	font-size: 1.1em;
	line-height: 1.5em;
	text-indent: 1em;
	margin: 0.25em 0;
        /* -moz-hyphens: auto; */
}

ul, ol {
    padding-left: 1em;
    clear: both;
}

ul, ol, dl {
    font-size: 1.1em;
    line-height: 1.5em;
	margin: 0.5em 0;
	text-align: justify;
}

ul ul,
ul ol,
ol ul {
	font-size: 1em !important;
}

li {
	margin: 0.25em 0;
}

dt { 
	/* font-style: italic; */
        font-variant: small-caps;
        margin-bottom: 0.25em;
        margin-top: 1em;
        text-transform: lowercase;
}

dd { 
	margin: 0 0 0.25em 1em;
        display: list-item;
}


b, strong, label {
	font-family: "Iowan Old Style", Baskerville, "Libre Baskerville", Georgia, serif;

}

i {
	font-family: "Iowan Old Style", Baskerville, "Libre Baskerville", Georgia, serif;
}

em { 
    font-variant: small-caps;
	font-style: normal;
}

blockquote {
    border: 1px solid #ddd; 
    padding: 1em;
    margin: 1em 0;
    font-size: 90%;
}

/* Blockquote paper curl */

blockquote {
	position: relative;
    background-color: white;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}
blockquote:before, blockquote:after
{
	position: absolute;
	width: 50%;
	height: 1em;
	content: ' ';
	left: 0.3em;
	bottom: 1em;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-4deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	box-shadow: 0 0.6em 1em rgba(0, 0, 0, 0.3);
    z-index: -1; 
*/} 

blockquote:after
{
	left: auto;
	right: 0.3em;
	-webkit-transform: skew(5deg) rotate(4deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
} 

/* End paper curl */

blockquote p {
    text-indent: 0;
}

q {
    quotes: "“" "”" "‘" "’"
}

textarea {
	width: 100%;
}

pre {
	background-color: #222;
	color: #fff;
	font-family: Monaco, Consolas, Inconsolata, "Courier New", monospace;
	padding: 1em 3em;
	overflow-x: auto;
	font-size: 0.8em;
	margin-bottom: 1em;
	line-height: 1.3em;
}

code {
	font-family: "American Typewriter", Consolas, Inconsolata, "Courier New", monospace;
        font-size: 90%;
}

hr { 
    margin: 1em auto; 
    clear: both;
	font-size: 1.4em;
	text-align: center;
	border: none;
}

/* We’re bringing asterism back */
hr::after {
  content: "\2042";
}

sup { 
    font-size: 60%; 
}

abbr,
acronym {
    font-variant: small-caps;
    text-transform: lowercase;
    font-style: normal;
    border: none;
    cursor: help;
	text-decoration: none;
}

abbr[title='and'] {
	font-family: Baskerville, "Iowan Old Style", "Libre Baskerville", Georgia, serif;
	border: none;
	font-style: italic;
}

del { color: #b00; }
del span { color: #333; padding: 0 0.1em; }

kbd {
    background: #ddd;
    border-radius: 4px 4px 4px 4px;
    border-top: 1px solid #eee;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0 0.1em;
    min-width: 1em;
    padding: 0 0.5em 0.1em;
    white-space: nowrap;
    font-family: "American Typewriter", Consolas, Inconsolata, "Courier New", monospace;
}

legend {display: none;}
fieldset {border: none;}
/* @end */

/* @group Site-specific */

p.documentDescription {
    text-align: center;
	padding: 1em 0;
	font-variant: small-caps;
    margin: auto;
    width: 20em;
    text-transform: lowercase;
    text-indent: 0;
	letter-spacing: 0.1em;
	
}

p.byline { 
    color: #888; 
    font-variant: small-caps; 
    display: block; 
    text-align: center; 
    letter-spacing:0.3em;
    text-transform: lowercase;
    clear:both;
	margin-bottom: -1em;
}

.discreet {
    color: #888;
    font-size: 95%;
}

.sidenote {
    /* border-left: 1px solid #888; */
    display: block;
    float: right;
    font-size: 90%;
    margin: 1.7em 0 1em 2em;
    padding: 0;
    text-align: left;
    text-indent: 0;
    line-height: 1.7em;
    width: 14em;
}

.image-right {
	float: right;
        clear: right;
	display: block;
	margin: 0.25em 0 0.5em 1em;
}

.image-left {
	float: left;
        clear: left;
	display: block;
	margin: 0.25em 1em 0.5em 0;
}

.image-center {
	display: block;
	margin: 0.25em auto 0.5em auto;
    max-width: 100%;
}

.image-inline {
    border: 1px solid #888;	
}

.endMarker {
    display: inline-block;
    background: transparent url(favicon-ghosted.gif) 0 3px no-repeat;
    height: 16px;
    width: 16px;
}

#portrait {
	border: 1px solid #444; 
	float: left; 
	margin: 1em 1em 3em 0;
}

#colophon {
	/* border: 1px solid #ccc;
	border-style: solid none; */
	margin: 1em 0;
	padding: 1em 0;
	font-size: 90%;
}
#colophon p {
	text-indent: 0;
}

#colophon-footer {
	color: #888;
	display: block;
	margin: 0 0 1em 0;
        font-variant: small-caps; 
        text-transform: lowercase;
        text-align: right;
}
#colophon-footer li {
	display: inline;
	margin: 0 0.25em 0 0; 
}

#quote {
	text-align: center;
        clear: both;
        margin: 0;
}

#meta {
	margin-bottom: 3em;
	font-variant: small-caps;
	text-transform: lowercase;
	clear: both;
}

#meta p {
	text-indent: 0;
	text-align: center;
}
/* @end */

/* @group Data tables */

table.listing {
	border-spacing: 0; 
}

table strong {
	font-weight: bold;
	font-style: normal;
}

table.listing td, 
table.listing th {
	padding: 1em;
	vertical-align: top;
	text-align: center;
}

table.listing td.listingCheckbox, 
table.listing th.listingCheckbox {
	text-align: center;
}

table.listing th {
	text-align: left;
	border-bottom: 1px solid #e7e7e7;
	white-space: nowrap;
}
table.listing tbody th {
	font-weight: bold;
}
table.listing tbody tr {
	text-align:left;
}
table.listing tbody tr:nth-child(even) { 
	background: #f9f9f9;
}


/* @end */

/* @group Table of Contents */

dl#document-toc {
    float: left;
    width: 14em;
    margin: 0.25em 1em 0 -15em;

}
dl#document-toc dt {
	margin-left: 1em;
	font-weight: normal;
	text-transform: uppercase;
}
dl#document-toc dd {
	margin-bottom: 0;
	padding-left: 0;
        margin-left: 0;
}
dl#document-toc dd ol {
	margin-left: 0.5em;
	font-size: 90% !important;
    text-align: left !important;
}

/* @end */



/* @group iPhone (mobile) */

@media screen and (max-device-width: 640px) {

}

/* iPad and tablets */
@media screen and (min-device-width: 768px) and (max-device-width: 768px) {

/*body { font-size: 175% }*/

}


/* @end */
